@page "/search"

<h1>Search</h1>
<br />
<input placeholder="Enter your value" id="value" @bind-value="@value" />
@foreach (var item in new string[] { "Name", "Number", "Email"  })
{
    <div>
        <input type="radio" value="@item" @onchange="RadioSelection" checked=@(RadioValue.Equals(item,StringComparison.OrdinalIgnoreCase)) />
        <label for="@item">@item</label>
    </div>
}
<button type="submit" @onclick="Click">Submit</button>


<div class="container">
    <br />
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                @if (users.Any())
                {
                    <th>Name</th>
                    <th>Number</th>
                    <th>Email</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
            <tr>
                <td>@user.Name</td>
                <td>@user.Number</td>
                <td>@user.Email</td>
            </tr>
            }
        </tbody>
    </table>
</div>

@code{
    UserDAO dAO = new UserDAO();
    public List<User> users = new List<User>();
    string RadioValue = "";
    string value = "";

    void RadioSelection(ChangeEventArgs args)
    {
        RadioValue = args.Value.ToString();
    }

    void Click()
    {
        users.Clear();
        users = dAO.filtrate(RadioValue, value);
    }
}
