@page "/search"

<h1 style="text-align: center">Search</h1>
    <div class="searchForm">
        <input class="searchInput" placeholder="Enter your value" id="value" @bind-value="@value" />
        @foreach (var item in new string[] { "Name", "Number", "Email" })
        {
            <div class="radioGroup">
                <input type="radio" value="@item" @onchange="RadioSelection" 
                       checked=@(RadioValue.Equals(item,StringComparison.OrdinalIgnoreCase)) />
                <label for="@item">@item</label>
            </div>
        }
        <div class="btnMother">
            <button class="btnSubmit" type="submit" @onclick="Click">Submit</button>
        </div>
    </div>

    @if (!@check)
    {
        <div class="contactNotFound">
            <h2>Contact not found</h2>
        </div>
    }
    <RadzenDataGrid Visible="@users.Any()" AllowColumnResize="true" PageSize="4" AllowPaging="true" Data="@users" TItem="User" ColumnWidth="300px">
        <Columns>
            <RadzenDataGridColumn TItem="User" Property="Name" Filterable="false" Title="Name" Width="50px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="User" Property="Number" Filterable="false" Title="Number" Width="50px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="User" Property="Email" Filterable="false" Title="Email" Width="50px" TextAlign="TextAlign.Center" />
        </Columns>
    </RadzenDataGrid>

@code{
    UserDAO dAO = new UserDAO();
    List<User> users = new List<User>();
    string RadioValue = "";
    string value = "";
    bool check = true;

    void RadioSelection(ChangeEventArgs args)
    {
        RadioValue = args.Value.ToString();
    }

    void Click()
    {
        users.Clear();
        users = dAO.findUser(RadioValue, value);
        check = true;
        if (!users.Any())
            check = false;
    }
}
